openapi: 3.0.3
info:
  title: Driving Instructor Booking API
  description: API to find driving instructors by city, check availability, pricing, and book lessons online.
  version: 1.0.0

servers:
  - url: https://api.mockdriving.com/v1

paths:
  /cities:
    get:
      summary: Get available cities
      responses:
        '200':
          description: List of cities
          content:
            application/json:
              schema:
                type: array
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      label:
                        type: string
                        example: Rabat
                      value:
                        type: string
                        example: '1'
              example:
                - label: Rabat
                  value: '1'
                - label: Casablanca
                  value: '2'
                - label: Marrakech
                  value: '3'
                - label: Fès
                  value: '4'
                - label: Tanger
                  value: '5'
                - label: Agadir
                  value: '6'
                - label: Meknès
                  value: '7'
                - label: Oujda
                  value: '8'
                - label: Kenitra
                  value: '9'
                - label: Tétouan
                  value: '10'
                - label: Safi
                  value: '11'
                - label: El Jadida
                  value: '12'
                - label: Béni Mellal
                  value: '13'
                - label: Nador
                  value: '14'
                - label: Settat
                  value: '15'
                - label: Khouribga
                  value: '16'
                - label: Taza
                  value: '17'
                - label: Larache
                  value: '18'
                - label: Ksar El Kébir
                  value: '19'
                - label: Khémisset
                  value: '20'
                - label: Guelmim
                  value: '21'
                - label: Berrechid
                  value: '22'
                - label: Mohammedia
                  value: '23'
                - label: Témara
                  value: '24'
                - label: Salé
                  value: '25'
                - label: Dakhla
                  value: '26'
                - label: Laâyoune
                  value: '27'
                - label: Tiznit
                  value: '28'
                - label: Ouarzazate
                  value: '29'
                - label: Errachidia
                  value: '30'

  /user/login:
    post:
      summary: User login
      description: Authenticate user with email and password, returns user info and authentication token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
              example:
                firstName: Ahmed
                lastName: Benali
                email: ahmed@example.com
                phone: "+212612345678"
                token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        '401':
          description: Invalid email or password
        '404':
          description: User not found

  /user/reset-password:
    post:
      summary: Request password reset
      description: Send a password reset link to the provided email.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
      responses:
        '200':
          description: Password reset link sent
          content:
            application/json:
              schema:
                type: object
                required:
                  - message
                properties:
                  message:
                    type: string
                    example: Reset password email sent successfully
              example:
                message: Reset password email sent successfully
        '404':
          description: User not found

  /user/confirm-password-reset:
    post:
      summary: Confirm password reset
      description: Confirm a password reset request with a reset token and new password.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmPasswordResetRequest'
      responses:
        '200':
          description: Password reset successful
          content:
            application/json:
              schema:
                type: object
                required:
                  - message
                properties:
                  message:
                    type: string
                    example: Password reset successfully
              example:
                message: Password reset successfully
        '400':
          description: Invalid or expired reset token
        '404':
          description: User not found

  /user/logout:
    post:
      summary: User logout
      description: Invalidate the authenticated user's session token.
      security:
        - AuthToken: []
      responses:
        '200':
          description: Logout successful
          content:
            application/json:
              schema:
                type: object
                required:
                  - message
                properties:
                  message:
                    type: string
                    example: Logged out successfully
              example:
                message: Logged out successfully
        '401':
          description: Missing or invalid authorization token

  /instructors:
    get:
      summary: Get instructors by city
      parameters:
        - name: city
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of instructors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instructors'

  /instructors/{id}/availability:
    get:
      summary: Get instructor availability
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Availability schedule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Availability'

  /instructors/{id}/pricing:
    get:
      summary: Get instructor pricing
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Pricing details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricing'

  /instructors/{id}/booked:
    get:
      summary: Get booked times for an instructor
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Booked slots by date
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookedTimesByDate'
              example:
                '2026-04-15':
                  - '8:00'
                  - '9:00'
                  - '10:00'
                  - '13:00'
                  - '14:30'
                '2026-04-16':
                  - '8:00'
                  - '11:00'
                  - '12:00'
                  - '13:00'
                  - '14:00'

  /bookings:
    post:
      summary: Book a driving lesson
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingRequest'
      responses:
        '201':
          description: Booking confirmed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'

  /my-reservations:
    get:
      summary: Get my reservations
      description: Returns the authenticated user's reservations.
      security:
        - AuthToken: []
      responses:
        '200':
          description: List of reservations for the authenticated user
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MyReservation'
              example:
                - id: book_901
                  instructorId: inst_101
                  selectedSlots:
                    - 11:00
                    - 12:00
                  date: '2026-04-15T10:07:03.708Z'
                  status: confirmed
                  totalPrice: 300
                - id: book_902
                  instructorId: inst_204
                  selectedSlots:
                    - 09:00
                    - 10:00
                  date: '2026-05-02T08:30:00.000Z'
                  status: pending
                  totalPrice: 280
                - id: book_903
                  instructorId: inst_309
                  selectedSlots:
                    - 15:00
                  date: '2026-03-21T14:15:00.000Z'
                  status: cancelled
                  totalPrice: 140
        '401':
          description: Missing or invalid authorization token

  /my-reservation/cancel/{idreservation}:
    post:
      summary: Cancel my reservation
      description: Cancels a reservation belonging to the authenticated user.
      security:
        - AuthToken: []
      parameters:
        - name: idreservation
          in: path
          required: true
          schema:
            type: string
          description: Reservation identifier to cancel.
      responses:
        '200':
          description: Reservation cancelled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MyReservation'
              example:
                id: book_902
                instructorId: inst_204
                selectedSlots:
                  - 09:00
                  - 10:00
                date: '2026-05-02T08:30:00.000Z'
                status: cancelled
                totalPrice: 280
        '401':
          description: Missing or invalid authorization token
        '404':
          description: Reservation not found

components:
  securitySchemes:
    AuthToken:
      type: apiKey
      in: header
      name: X-Authorization
      description: Use the Authorization header in the format `Token <token>`.

  schemas:
    Instructors:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          name:
            type: string
          city:
            type: string
          vehicleType:
            type: string
            enum: [manual, automatic]
          rating:
            type: number
            format: float
          currency:
            type: string
          pricePerHour:
            type: number
          packages:
            type: array
            items:
              type: object
              properties:
                hours:
                  type: integer
                price:
                  type: number
      example:
        - id: inst_101
          name: Ahmed Benali
          city: Rabat
          vehicleType: manual
          rating: 4.7
          currency: MAD
          pricePerHour: 150
          packages:
            - hours: 10
              price: 1400
            - hours: 20
              price: 2600
        - id: inst_102
          name: Fatima Essaoui
          city: Casablanca
          vehicleType: automatic
          rating: 4.8
          currency: MAD
          pricePerHour: 160
          packages:
            - hours: 5
              price: 750
            - hours: 15
              price: 2200
        - id: inst_103
          name: Mohammed Hassan
          city: Marrakech
          vehicleType: manual
          rating: 4.5
          currency: MAD
          pricePerHour: 120
          packages:
            - hours: 10
              price: 1100
            - hours: 20
              price: 2000
        - id: inst_104
          name: Noor El Moussawy
          city: Fez
          vehicleType: automatic
          rating: 4.9
          currency: MAD
          pricePerHour: 180
          packages:
            - hours: 10
              price: 1700
            - hours: 25
              price: 4000

    Availability:
      type: object
      properties:
        instructorId:
          type: string
        slots:
          type: array
          items:
            type: object
            properties:
              start:
                type: string
                format: date-time
              end:
                type: string
                format: date-time
              isAvailable:
                type: boolean

    BookedTimesByDate:
      type: object
      additionalProperties:
        type: array
        items:
          type: string
          example: '08:00'
      example:
        '2026-04-09':
          - '8:00'
          - '9:30'
          - '10:00'
          - '13:00'
          - '14:30'
        '2026-04-10':
          - '8:30'
          - '11:00'
          - '12:00'
          - '13:00'
          - '14:00'

    Pricing:
      type: object
      properties:
        instructorId:
          type: string
        currency:
          type: string
          example: MAD
        pricePerHour:
          type: number
          example: 150
        packages:
          type: array
          items:
            type: object
            properties:
              hours:
                type: integer
                example: 10
              price:
                type: number
                example: 1400

    BookingRequest:
      type: object
      required:
        - instructorId
        - selectedSlots
        - user
      properties:
        instructorId:
          type: string
        selectedSlots:
          type: array
          items:
            type: string
        date:
          type: string
          format: date
        user:
          type: object
          properties:
            first_name:
              type: string
            last_name:
              type: string
            email:
              type: string
            phone:
              type: string
            password:
              type: string
              required: false
            agreed:
              type: boolean
              description: User agreement to terms and conditions
            token:
              type: string
              required: false
              description: Optional token for authentication or future reference
    Booking:
      type: object
      properties:
        id:
          type: string
          example: book_456
        instructorId:
          type: string
        status:
          type: string
          enum: [confirmed, pending, cancelled]
        date:
          type: string
          format: date
          example: '2026-04-15'
        selectedSlots:
          type: array
          items:
            type: string
          example: ['8:00', '9:00']
        totalPrice:
          type: number
          example: 150
        token:
          type: string
          example: 'abc123token'

    MyReservation:
      type: object
      required:
        - id
        - instructorId
        - selectedSlots
        - date
        - status
        - totalPrice
      properties:
        id:
          type: string
          example: book_901
        instructorId:
          type: string
          example: inst_101
        selectedSlots:
          type: array
          items:
            type: string
          example:
            - 11:00
            - 12:00
        date:
          type: string
          format: date-time
          example: '2026-04-15T10:07:03.708Z'
        status:
          type: string
          enum: [confirmed, pending, cancelled]
          example: confirmed
        totalPrice:
          type: number
          example: 300

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          example: ahmed@example.com
        password:
          type: string
          example: "password123"

    LoginResponse:
      type: object
      required:
        - firstName
        - lastName
        - email
        - phone
        - token
      properties:
        firstName:
          type: string
          example: Ahmed
        lastName:
          type: string
          example: Benali
        email:
          type: string
          format: email
          example: ahmed@example.com
        phone:
          type: string
          example: "+212612345678"
        token:
          type: string
          description: Authentication token for use in Authorization header
          example: "abc1234token"

    ResetPasswordRequest:
      type: object
      required:
        - email
      properties:
        email:
          type: string
          format: email
          example: ahmed@example.com

    ConfirmPasswordResetRequest:
      type: object
      required:
        - resetToken
        - newPassword
      properties:
        resetToken:
          type: string
          description: The reset token received via email
          example: "abc123def456"
        newPassword:
          type: string
          description: The new password (minimum 8 characters)
          example: "newPassword123"
